@import 'nib'
@import url(https://fonts.googleapis.com/css?family=Merriweather);

a, a:link
	cursor pointer

body
	padding-top 60px

table
	tfoot, tbody
		th
			border-top 1px solid #DDD

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body, h2, h3{
  /* Margin bottom by footer height */
  font-family: "Merriweather", serif;
  margin: 40px 0 40px 0;
  color: black;
}
body h1 {
  font-weight: 300;
  font-size: 5rem;
}
.logo {
  font-family: "open sans", sans serif;
}
.footer {
  position: absolute;
  //bottom: 0;
  margin-top: 120px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom CSS
-------------------------------------------------- */

body {
  color: rgb(153, 153, 153);
  font-size: 16px;
}

.container {
  max-width: 980px;
}

.footer {
  font-size: 18px;
}
.footer .pull-right a {
  margin-left: 20 px;
}

a:hover, a:active {
  text-decoration: none;
}

h1.title a:hover {
  color: #428BCA;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

a.title, a.title: hover, a.title:active {
  color: #000;
  text-decoration: none; 
}

.subtitle {
  font-weight: 300;
}

/* Index page 
-------------------------------------------------- */
.btn-primary {
  margin:auto;
  margin-top: 60px;
  margin-bottom: 100px;
  font-size: 24px;
  text-align: center;
}
.center {
  margin:auto;
  margin-right: 100px;
  width: auto;
  text-align: center;
}

/* Clients page 
-------------------------------------------------- */
.team h3 {
  margin-bottom: 40px;
  margin-top: 80px;
}

